<% layout('layout') %> //ejs共用主體
 <div style="margin-left:25%;padding:1px 16px;height:1000px;">
<div class="card">
<h1><%= title %></h1>	
<h2>DonkeyCar</h2>
<center>
<img src="img/donkey.png"  >
</center>
<p>Donkey Car 是一個開源機器學習的自走車專案，車上唯一的感測器就是相機。Donkey Car 使用樹莓派和 Python，利用 Keras 深度學習框架實現自動駕駛。</p>
<br>
<p>Donkey Car 是一個開源機器學習的自走車專案，車上唯一的感測器就是相機。Donkey Car 使用樹莓派和 Python，利用 Keras 深度學習框架實現自動駕駛。
<br>
最新教學請參考官方文件。
<br>
《特色》
<br>
完整瞭解機器學習流程，包括資料蒐集與處理、模型選擇與調整、訓練、測試驗證等。
自由修改軟硬體，包括深度學習網路模型、車體和車道，直接看到學習實際成果。
<br>支援多種深度學習網路模型，包括 CNN、RNN。<br>
《規格》<br>
HSP 94186 1/16 無刷馬達+防水電變 RC 大腳遙控車(附原廠 2.4GHz 遙控器) x1。<br>
PCA9685 PWM/Servo 伺服馬達控制板 x1。<br>
魚眼相機 x1。<br>
UPS 鋰電池擴充板(v2) x1。<br>
 3D 列印車架 + 3D 列印把手。<br>
 micro USB 轉 USB 電源線 x1。<br>
 2.4GHz 搖桿 x1。<br>
 母母杜邦線 x4。<br>
 全車螺絲包 x1。<br></p>
</div>