<% layout('layout _orgin') %>
<div>
  <iframe src=<%=ctrWeb %> name="left" frameborder="0" width="25%" height="100%">等等</iframe>
  <iframe src=<%=carWeb %> name="right" frameborder="0" width="70%" height="100%">等等</iframe>
</div>
