<% layout('layout') %>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <iframe src="http://192.168.52.94:6543/" name="left" frameborder="0" width="25%" height="100%">等等</iframe>
    <iframe src="http://192.168.52.94:8887/drive" name="right" frameborder="0" width="70%" height="100%">等等</iframe>
</div>