<% layout('layout') %>
<style>
    #myw {
        max-width: 2000px;
    }
</style>
<input type="button" id="btnNewStr" value="開啟刷新" >
<input type="button" id="btnNewSto" value="關閉刷新" style="display: none;">
<div style="padding:1px 16px;height:1000px;width:2000px;">
    <iframe src=<%= ctrWeb %> name="left" id="left" frameborder="0" width="30%" height="100%">等等</iframe>
    <iframe src=<%= carWeb %> name="right" id="right" frameborder="0" width="45%" height="100%">等等</iframe>
</div>
<script>
    $("#btnNewStr").click(function() {
        intervalID = setInterval(() => {
            $('#right').attr('src', $('#right').attr('src'));
            console.log("刷新");
        }, 5000);
        $("#btnNewStr").toggle();
        $("#btnNewSto").toggle();
    });
    $("#btnNewSto").click(function(){
        clearInterval(intervalID);
        $("#btnNewStr").toggle();
        $("#btnNewSto").toggle();
    })
</script>