<% layout('layout') %>
   <div style="margin-left:25%;padding:1px 16px;height:1000px;">
	
	            <div class="card">
                <h2><%= title %></h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
<br>
 <input type="button" id="mod01" class="c-mod01" value="Model-1">
<input type="button" id="mod02" class="c-mod01" value="Model-2">
<input type="button" id="mod03" class="c-mod01" value="Model-3">   
<input type="button" id="mod04" class="c-mod01" value="Model-4"> 
<input type="button" id="mod05" class="c-mod01" value="Model-5">     
</div>
<script>
 $("#mod01").click(function(){
  alert();
  });
   $("#mod02").click(function(){
  alert();
  });
   $("#mod03").click(function(){
  alert();
  });
   $("#mod04").click(function(){
  alert();
  });
   $("#mod05").click(function(){
  alert();
  });
</script>