<% layout('layout') %>

    <div class="card">
        
        <div class="fakeimg" >
            <p class="fw-bold run_run_text" style="font-size:5vw;">Run Run <span class="badge bg-secondary">DonkeyCar</span></p>
        </div>
        <br>
        <h2>歡迎
            <%- titleH2 || '訪客' %>
        </h2>
        <br>
        

        <p>Donkey Car 是一個開源機器學習的自走車專案，車上唯一的感測器就是相機。Donkey Car 使用樹莓派和 Python，利用 Keras 深度學習框架實現自動駕駛。</p>

        <% if (loginStatus) { %>
            <center>
                <div class="card" style="width: 18rem;">
                    <tr>
                        <td><a class="btn btn-primary" href="/logout">登出</a></td>
                    </tr>
                </div>
            </center>
            <% } else{ %>
                <center>
                    <div class="card" style="width: 18rem;">
                        <tr>
                            <td><a class="btn btn-primary" href="/login.html">登入</a></td>
                            <br>
                            <td><a class="btn btn-primary" href="/resign1.html">註冊</a></td>
                        </tr>
                    </div>
                </center>
                <% } %>


    </div>