<% layout('layout') %> //ejs共用主體

   <div style="margin-left:25%;padding:1px 16px;height:1000px;">
	
	            <div class="card">
                <h2>DonkeyCar 倉儲管理</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>一隻貓咪兩隻貓咪三隻貓咪</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <h1><%= title %></h1>
<%- titleH2 %>
<% if(show) { %>
<p>條件滿足</p>
<% } else { %>
<p>條件不滿足</p>
<%} %>
<ul>
    <% for(var i=0;i< foods.length;i++){ %>
    <li><%-foods[i] %></li>
    <%  } %>
</ul>
			</div>

   <form action="/action_page.php">
   <select name="YourLocation">
　<option value="Taipei"模型A</option>
<option value="Tassoyuan">模型A</option>
　<option value="Taoyuan">模型B</option>
　<option value="Hsinchu">模型C</option>
　<option value="Miaoli">模型D</option>
　...
</select>
<input type="button" value="確定">
<br>
<br>
 <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Savings</th>
        </tr>
        <tr>
            <td>Peter</td>
            <td>Griffin</td>
            <td>$100</td>
        </tr>
        <tr>
            <td>Lois</td>
            <td>Griffin</td>
            <td>$150</td>
        </tr>
        <tr>
            <td>Joe</td>
            <td>Swanson</td>
            <td>$300</td>
        </tr>
        <tr>
            <td>Cleveland</td>
            <td>Brown</td>
            <td>$250</td>
        </tr>
    </table>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="button">
        <p></p>
        <input type="checkbox">
        <p></p>
    
        <p></p>
        <textarea rows="10" cols="30" name="自我介紹" placeholder="關於我!"></textarea>
        <p></p>
        <input type="submit" value="Submit">
    </form>
				<div class="card">
                <h2>TITLE HEADING</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>一隻貓咪兩隻貓咪三隻貓咪</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
    </div>