<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/main.css" rel="stylesheet" type="text/css"/>
    <script src="script/jquery-3.1.1.min.js"></script>
    <title><%= title %></title>
</head>
<body>
<ul>
    <li><a class="active" href="/">首頁</a></li>
    <li><a href="resign1.html">註冊</a></li>
    <li><a href="login.html">登入</a></li>
    <li><a href="about.html">DonkeyCar介紹</a></li>
    <li><a href="#contact">貨量車系統</a></li>
    <li><a href="#about">倉儲系統</a></li>
    <li><a href="#about">異常紀錄</a></li>
    <li><a href="control.html">控制台</a></li>
    <center>
        <!-- <img src="https://www.donkeycar.com/uploads/7/8/1/7/7817903/published/donkeycar-logo-sideways.png?1557205931"
             style="width:200px;"> -->
        <img src="img/donkey.png"
             style="width:200px;">
    </center>
</ul>
<%- body %>
</body>
</html>