<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>停車場繳費</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script type="text/javascript" src="keyboard.js"></script>
</head>
<body>
<center>
<h2>DonkeyCar 停車場繳費</h2>
<%- body %>
</center>
</body>

</html>